@import url('https://fonts.googleapis.com/css2?family=Satisfy:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header h2 {
    font-family: "Satisfy", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}