.main h2 {
    width: 25%;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

.main p {
    text-align: center;
    width: 35%;
    line-height: 1.5;
}

.main .container {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-cincinnati {
    background: no-repeat center/cover url("../assets/cincinnati-bg.webp");
}

@media(max-width: 1024px) {
    .main h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .main p {
        width: 50%;
    }
}