.main h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.main p {
    width: 35%;
    line-height: 1.5;
}

.main .container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 125px;
    left: 50px;
}

#main-columbus {
    background: no-repeat center/cover url("../assets/columbus-bg.jpeg");
}

@media(max-width: 1024px) {
    .main h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .main p {
        width: 50%;
    }

    .main .container {
        top: 105px;
        left: 15px;
    }
}

@media(max-width: 500px) {
    .main .container {
        align-items: center;
    }

    .main p {
        display: none;
    }
}