#main-contact {
    width: 90%;
    height: 425px;
    background-color: #F5F5F5;
    position: relative;
    color: #1E1E1E;
}

#main-contact .container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

#main-contact .container .card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

#main-contact .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main-contact h2 {
    font-size: 40px;
}

#main-contact p {
    margin: 20px 0;
}
  
#main-contact .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

#main-contact .main-text .tour-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    background: #FF482A;
    color: #fff;
    border: none;
    border-radius: 5px;
    border: 1px solid #fff;
}
  
.main-form {
    position: relative;
    top: 60px;
    height: 460px;
    width: 400px;
    padding: 40px;
}
  
.main-form .form-control {
    margin: 20px 0;
}
  
.main-form input[type="text"], 
.main-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.main-form textarea {
    width: 325px;
    height: 100px;
    resize: none;
}

.main-form input:focus,
.main-form textarea {
    outline: none;
}

.submit-btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: #FF482A;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.tour-btn:hover, 
.submit-btn:hover {
    transform: scale(.98);
}

@media(max-width: 1024px) {
    #main-contact h2 {
        font-size: 27.5px;
    }

    #main-contact p {
        margin: 10px 0;
    }

    #main-contact .grid {
        grid-template-columns: 50% 50%;
        gap: 20px;
    }

    #main-contact .main-text .tour-btn {
        padding: 7.5px 22.5px;
    }

    #main-contact .main-form {
        height: 460px;
        width: 375px;
        padding: 35px;
    }
    
    #main-contact .main-form textarea {
        width: 305px;
        height: 100px;
        resize: none;
    }
}

@media(max-width: 500px) {
    #main-contact {
        width: 100%;
    }

    #main-contact .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #main-contact .main-text {
        text-align: center;
        margin-top: 40px;
    }

    #main-contact .main-form {
        justify-self: center;
        margin: auto;
    }

    #main-contact .main-form textarea {
        width: 335px;
    }
}