@import url('https://fonts.googleapis.com/css2?family=Satisfy:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satisfy", cursive, sans-serif;
}

#header {
    width: 100%;
    height: 10%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header a {
    text-decoration: none;
    display: flex;
}

#header h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    color: #FF482A;
}

#header img {
    height: 65px;
    width: auto;
}

.showcase {
    display: flex;
    height: 82.5%;
}

#navbar {
    width: 10%;
    height: 100%;
    background-color: #FF482A;
}

#navbar .menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#navbar .menu li {
    list-style: none;
    font-size: 1.15rem;
    border-bottom: 1.25px solid #FFF;
}

#navbar .menu li:first-child {
    margin-top: 20px;
}


#navbar .menu li a {
    text-decoration: none;
    padding-bottom: 2px;
    color: #FFF;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

#navbar .menu li a:hover {
    transform: translateY(-7px);
}

.showcase-main-section {
    width: 90%;
    display: flex;
}

.showcase-main-section .main {
    width: 80%;
    color: #FFF;
}

.showcase-main-section #aside {
    width: 20%;
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.showcase-main-section #aside h3 {
    text-align: center;
}

.showcase-main-section #aside .statistics {
    width: 99%;
    height: 35%;
    font-size: 0.9rem;
    color: #FFF;
    border-collapse: collapse;
}

.showcase-main-section #aside .statistics td {
    text-align: center;
    padding: 5px 0;
}

.showcase-main-section #aside .statistics tr:nth-child(odd) {
    background-color: #FF482A;
}

.showcase-main-section #aside .statistics tr:nth-child(even) {
    background-color: #BCBCBC;
}

.showcase-main-section #aside .statistics tr:nth-child(odd):hover {
    background-color: #FF6248;
}

.showcase-main-section #aside .statistics tr:nth-child(even):hover {
    background-color: #C9C9C9;
}

.showcase-main-section #aside .statistics a:visited {
    color: #FFF;
}

#footer {
    width: 100%;
    height: 7.5%;
    background-color: #1E1E1E;
    position: absolute;
    bottom: 0;
}

#footer .social {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .social li {
    list-style: none;
    color: #FFF;
    margin-left: 25px;
}

#footer .social li a {
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

#footer .social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

/* Media Queries */

/* Tablet */
@media(max-width: 1024px) {
    #navbar {
        width: 15%;
    }

    .showcase-main-section {
        width: 85%;
        display: grid;
    }

    .showcase-main-section .main {
        width: 100%;
        height: 450px;
    }

    .showcase-main-section #aside {
        width: 100%;
    }

    .showcase-main-section #aside .statistics {
        width: 70%;
    }
}